In [1]:
import camelot
import tabula

In [2]:
import os #Files in listen abgreifen
import tqdm #anzeigen, wo wir stehen
import textract
import pandas as pd
import numpy as np
%matplotlib inline

In [3]:
#    https://europawahlergebnis.eu/wahlbeteiligung/

# Text aus PDF / Bild

In [4]:
text = textract.process("Wahlbeteiligung_nach_Land.jpg", method='pdfminer', encoding='ISO-8859-1')

In [5]:
text

b'22.10.2019 - 14:30 Alle Zelten sind in GMT#+2\n\nWahlbeteiligung nach Land (%)\n\nEndergebnisse\nLand 1979 1981 1984 1987 1989 1994 1995 1996 1999 2004 2007 2009 2013 2014 2019\nBelgien 91,36 92,09 90,73 90,66 91,05 90,81 90,39 89,64 88,47\nDanemark 47,82 92,38 46,17 52,92 50,46 47,89 59,54 56,32 66,08,\nDeutschland 65,73 96,76 62,28 60,02 45,19 43,00 43,27 48,10 61,38,\nIrland 63,61 47,56 68,28 43,98, 50,21 58,58 58,64 52,44 49,70\nFrankreich 60,71 96,72 48,80 52,71 46,76 42,76 40,63 42,43, 50,12\nltatien 85,65 82,47 81,07 73,60 69,76 71,72 66.47 87,22 54,50\nLuxemburg 88,1 88,79 87,39 88,55 87.27 91,35 90,76 85,55 84,24\nNiederlande 98,12 90,88 47,48. 35,69 30,02 39,26 36,75 37,32, 41,93,\nVereinigtes K\xc3\xa9nigreich 32,35 32,97 36,37 36,43 24,00 38,52 34,70 35,60 37,18\nGriechenland 81,48 80,59 80,03 73,18 70,25 63,22 52,54 59.97 58,69\nSpanien 68,52 54,71 59,14 63.05 45,14 44,87 43,81 60,73\nPortugal 72,42 51,10 35,54 39,93 38,60 36,77 33,67 30,75\nSchweden 41,63 38,84 37,85 45,53 5107 55,27\nOsterreich 67,73 49,40 42,43 45,97 45,39 59,80\nFinland 57,60 3014 39,43 38,60 39,10 40,80\nTechechien 28,30 28,22 18,20 28,72\nEstland 26,83 43,90 36,52, 37,60\nZypem 72,50 59,40 43,97 44,99\nLitauen 48,38 20,98 47,35 53,48,\nLettlang 41,34 53,70 30,24 33,53,\nUngar 38,50 36,31 2897 43,36\nMalta 82,39 78,79 74,80 72,70\nPolen 2087 24,53 23,83, 45,68,\nSlowenien 28,35 28,37 24,55 28,89\nSlowakei 16,97 19,64 13,05 22,74\nBulgarien 29,22 38,99 35,84 32,64\nRumanien 2947 2767 32,44 51,20\nKroatien 20,84 25,24 29,85\nEU Gesamt 61,99 58,98 58,41 56,67 49,51 45,47 4297 42,61 50,66\n\n \n\nQuelle: Europaisches Parlament in Zusammenarbeit mit Kantar Europaisches Parlament\n\x0c'

In [6]:
df = pd.DataFrame([text])

In [7]:
df

                                                   0
0  b'22.10.2019 - 14:30 Alle Zelten sind in GMT#+...

# Versuch mit csv

In [8]:
path = ('Wahlbeteiligung-nach-Land-neu.csv')

In [9]:
with open(path) as f:
    dateiinhalt = f.read()

In [10]:
dateiinhalt

',Land,1979,1981,1984,1987,1989,1994,1995,1996,1999,2004,2007,2009,2013,2014,2019\n,Belgien,91.36,,92.09,,90.73,90.66,,,91.05,90.81,,90.39,,89.64,88.47\n,Dänemark,47.82,,52.38,,46.17,52.92,,,50.46,47.89,,59.54,,56.32,66.08\n,Deutschland,65.73,,56.76,,62.28,60.02,,,45.19,43.00,,43.27,,48.10,61.38\n,Irland,63.61,,47.56,,68.28,43.98,,,50.21,58.58,,58.64,,52.44,49.70\n,Frankreich,60.71,,56.72,,48.80,52.71,,,46.76,42.76,,40.63,,42.43,50.12\n,Italien,85.65,,82.47,,81.07,73.60,,,69.76,71.72,,66.47,,57.22,54.50\n,Luxemburg,88.91,,88.79,,87.39,88.55,,,87.27,91.35,,90.76,,85.55,84.24\n,Niederlande,58.12,,50.88,,47.48,35.69,,,30.02,39.26,,36.75,,37.32,41.93\n,Vereinigtes Königreich,32.35,,32.57,,36.37,36.43,,,24.00,38.52,,34.70,,35.60,37.18\n,Griechenland,,81.48,80.59,,80.03,73.18,,,70.25,63.22,,52.54,,59.97,58.69\n,Spanien,,,,68.52,54.71,59.14,,,63.05,45.14,,44.87,,43.81,60.73\n,Portugal,,,,72.42,51.10,35.54,,,39.93,38.60,,36.77,,33.67,30.75\n,Schweden,,,,,,,41.63,,38.84,37.85,,45.53,,51.07,55.27\n,Österreich,,,,,,,,67.73,49.40,42.43,,45.97,,45.39,59.80\n,Finnland,,,,,,,,57.60,30.14,39.43,,38.60,,39.10,40.80\n,Tschechien,,,,,,,,,,28.30,,28.22,,18.20,28.72\n,Estland,,,,,,,,,,26.83,,43.90,,36.52,37.60\n,Zypern,,,,,,,,,,72.50,,59.40,,43.97,44.99\n,Litauen,,,,,,,,,,48.38,,20.98,,47.35,53.48\n,Lettland,,,,,,,,,,41.34,,53.70,,30.24,33.53\n,Ungarn,,,,,,,,,,38.50,,36.31,,28.97,43.36\n,Malta,,,,,,,,,,82.39,,78.79,,74.80,72.70\n,Polen,,,,,,,,,,20.87,,24.53,,23.83,45.68\n,Slowenien,,,,,,,,,,28.35,,28.37,,24.55,28.89\n,Slowakei,,,,,,,,,,16.97,,19.64,,13.05,22.74\n,Bulgarien,,,,,,,,,,,29.22,38.99,,35.84,32.64\n,Rumänien,,,,,,,,,,,29.47,27.67,,32.44,51.20\n,Kroatien,,,,,,,,,,,,,20.84,25.24,29.85\n,EU Gesamt,61.99,,58.98,,58.41,56.67,,,49.51,45.47,,42.97,,42.61,50.66'

In [11]:
df = pd.read_csv(path)

In [12]:
df.shape

(29, 17)

In [13]:
df.dtypes

Unnamed: 0    float64
Land           object
1979          float64
1981          float64
1984          float64
1987          float64
1989          float64
1994          float64
1995          float64
1996          float64
1999          float64
2004          float64
2007          float64
2009          float64
2013          float64
2014          float64
2019          float64
dtype: object

In [14]:
del df['Unnamed: 0']
df

,Land,1979,1981,1984,1987,1989,1994,1995,1996,1999,2004,2007,2009,2013,2014,2019
0,Belgien,91.36,NaN,92.09,NaN,90.73,90.66,NaN,NaN,91.05,90.81,NaN,90.39,NaN,89.64,88.47
1,Dänemark,47.82,NaN,52.38,NaN,46.17,52.92,NaN,NaN,50.46,47.89,NaN,59.54,NaN,56.32,66.08
2,Deutschland,65.73,NaN,56.76,NaN,62.28,60.02,NaN,NaN,45.19,43.00,NaN,43.27,NaN,48.10,61.38
3,Irland,63.61,NaN,47.56,NaN,68.28,43.98,NaN,NaN,50.21,58.58,NaN,58.64,NaN,52.44,49.70
4,Frankreich,60.71,NaN,56.72,NaN,48.80,52.71,NaN,NaN,46.76,42.76,NaN,40.63,NaN,42.43,50.12
5,Italien,85.65,NaN,82.47,NaN,81.07,73.60,NaN,NaN,69.76,71.72,NaN,66.47,NaN,57.22,54.50
6,Luxemburg,88.91,NaN,88.79,NaN,87.39,88.55,NaN,NaN,87.27,91.35,NaN,90.76,NaN,85.55,84.24
7,Niederlande,58.12,NaN,50.88,NaN,47.48,35.69,NaN,NaN,30.02,39.26,NaN,36.75,NaN,37.32,41.93
8,Vereinigtes Königreich,32.35,NaN,32.57,NaN,36.37,36.43,NaN,NaN,24.00,38.52,NaN,34.70,NaN,35.60,37.18
9,Griechenland,NaN,81.48,80.59,NaN,80.03,73.18,NaN,NaN,70.25,63.22,NaN,52.54,NaN,59.97,58.69
10,Spanien,NaN,NaN,NaN,68.52,54.71,59.14,NaN,NaN,63.05,45.14,NaN,44.87,NaN,43.81,60.73
11,Portugal,NaN,NaN,NaN,72.42,51.10,35.54,NaN,NaN,39.93,38.60,NaN,36.77,NaN,33.67,30.75
12,Schweden,NaN,NaN,NaN,NaN,NaN,NaN,41.63,NaN,38.84,37.85,NaN,45.53,NaN,51.07,55.27
13,Österreich,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.73,49.40,42.43,NaN,45.97,NaN,45.39,59.80
14,Finnland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.60,30.14,39.43,NaN,38.60,NaN,39.10,40.80
15,Tschechien,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.30,NaN,28.22,NaN,18.20,28.72
16,Estland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.83,NaN,43.90,NaN,36.52,37.60
17,Zypern,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.50,NaN,59.40,NaN,43.97,44.99
18,Litauen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.38,NaN,20.98,NaN,47.35,53.48
19,Lettland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.34,NaN,53.70,NaN,30.24,33.53
20,Ungarn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.50,NaN,36.31,NaN,28.97,43.36
21,Malta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.39,NaN,78.79,NaN,74.80,72.70
22,Polen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.87,NaN,24.53,NaN,23.83,45.68
23,Slowenien,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.35,NaN,28.37,NaN,24.55,28.89
24,Slowakei,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.97,NaN,19.64,NaN,13.05,22.74
25,Bulgarien,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.22,38.99,NaN,35.84,32.64
26,Rumänien,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.47,27.67,NaN,32.44,51.20
27,Kroatien,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.84,25.24,29.85
28,EU Gesamt,61.99,NaN,58.98,NaN,58.41,56.67,NaN,NaN,49.51,45.47,NaN,42.97,NaN,42.61,50.66

In [15]:
# eine Spalte
df['2019']

0     88.47
1     66.08
2     61.38
3     49.70
4     50.12
5     54.50
6     84.24
7     41.93
8     37.18
9     58.69
10    60.73
11    30.75
12    55.27
13    59.80
14    40.80
15    28.72
16    37.60
17    44.99
18    53.48
19    33.53
20    43.36
21    72.70
22    45.68
23    28.89
24    22.74
25    32.64
26    51.20
27    29.85
28    50.66
Name: 2019, dtype: float64

In [16]:
# eine Zeile
df.iloc[28]

Land    EU Gesamt
1979        61.99
1981          NaN
1984        58.98
1987          NaN
1989        58.41
1994        56.67
1995          NaN
1996          NaN
1999        49.51
2004        45.47
2007          NaN
2009        42.97
2013          NaN
2014        42.61
2019        50.66
Name: 28, dtype: object

In [17]:
headers = df.head(0)
print(headers)

Empty DataFrame
Columns: [Land, 1979, 1981, 1984, 1987, 1989, 1994, 1995, 1996, 1999, 2004, 2007, 2009, 2013, 2014, 2019]
Index: []

In [18]:
### Land als Index

#df.set_index('Land', inplace=True)

In [19]:
df

,Land,1979,1981,1984,1987,1989,1994,1995,1996,1999,2004,2007,2009,2013,2014,2019
0,Belgien,91.36,NaN,92.09,NaN,90.73,90.66,NaN,NaN,91.05,90.81,NaN,90.39,NaN,89.64,88.47
1,Dänemark,47.82,NaN,52.38,NaN,46.17,52.92,NaN,NaN,50.46,47.89,NaN,59.54,NaN,56.32,66.08
2,Deutschland,65.73,NaN,56.76,NaN,62.28,60.02,NaN,NaN,45.19,43.00,NaN,43.27,NaN,48.10,61.38
3,Irland,63.61,NaN,47.56,NaN,68.28,43.98,NaN,NaN,50.21,58.58,NaN,58.64,NaN,52.44,49.70
4,Frankreich,60.71,NaN,56.72,NaN,48.80,52.71,NaN,NaN,46.76,42.76,NaN,40.63,NaN,42.43,50.12
5,Italien,85.65,NaN,82.47,NaN,81.07,73.60,NaN,NaN,69.76,71.72,NaN,66.47,NaN,57.22,54.50
6,Luxemburg,88.91,NaN,88.79,NaN,87.39,88.55,NaN,NaN,87.27,91.35,NaN,90.76,NaN,85.55,84.24
7,Niederlande,58.12,NaN,50.88,NaN,47.48,35.69,NaN,NaN,30.02,39.26,NaN,36.75,NaN,37.32,41.93
8,Vereinigtes Königreich,32.35,NaN,32.57,NaN,36.37,36.43,NaN,NaN,24.00,38.52,NaN,34.70,NaN,35.60,37.18
9,Griechenland,NaN,81.48,80.59,NaN,80.03,73.18,NaN,NaN,70.25,63.22,NaN,52.54,NaN,59.97,58.69
10,Spanien,NaN,NaN,NaN,68.52,54.71,59.14,NaN,NaN,63.05,45.14,NaN,44.87,NaN,43.81,60.73
11,Portugal,NaN,NaN,NaN,72.42,51.10,35.54,NaN,NaN,39.93,38.60,NaN,36.77,NaN,33.67,30.75
12,Schweden,NaN,NaN,NaN,NaN,NaN,NaN,41.63,NaN,38.84,37.85,NaN,45.53,NaN,51.07,55.27
13,Österreich,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.73,49.40,42.43,NaN,45.97,NaN,45.39,59.80
14,Finnland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.60,30.14,39.43,NaN,38.60,NaN,39.10,40.80
15,Tschechien,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.30,NaN,28.22,NaN,18.20,28.72
16,Estland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.83,NaN,43.90,NaN,36.52,37.60
17,Zypern,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.50,NaN,59.40,NaN,43.97,44.99
18,Litauen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.38,NaN,20.98,NaN,47.35,53.48
19,Lettland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.34,NaN,53.70,NaN,30.24,33.53
20,Ungarn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.50,NaN,36.31,NaN,28.97,43.36
21,Malta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.39,NaN,78.79,NaN,74.80,72.70
22,Polen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.87,NaN,24.53,NaN,23.83,45.68
23,Slowenien,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.35,NaN,28.37,NaN,24.55,28.89
24,Slowakei,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.97,NaN,19.64,NaN,13.05,22.74
25,Bulgarien,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.22,38.99,NaN,35.84,32.64
26,Rumänien,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.47,27.67,NaN,32.44,51.20
27,Kroatien,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.84,25.24,29.85
28,EU Gesamt,61.99,NaN,58.98,NaN,58.41,56.67,NaN,NaN,49.51,45.47,NaN,42.97,NaN,42.61,50.66

In [20]:
###  Indexspalte mit Jahreszahlen vertauschen

#df.pivot(index=[], columns='Land')    #

#df.unstack('Land')'1979', '1981', '1984', '1987', '1989', '1994', '1995', '1996', '1999', '2004', '2007', '2009', '2013', '2014', '2019'])

#pd.pivot_table(df, index='Land', columns=loc[0]

In [21]:
#
#df.transpose funktioniert nicht

In [22]:
#df.swapaxes("index", "columns)     ##

In [23]:
df.dtypes

Land     object
1979    float64
1981    float64
1984    float64
1987    float64
1989    float64
1994    float64
1995    float64
1996    float64
1999    float64
2004    float64
2007    float64
2009    float64
2013    float64
2014    float64
2019    float64
dtype: object

In [24]:
df_eu = df.iloc[28]

In [25]:
df_eu

Land    EU Gesamt
1979        61.99
1981          NaN
1984        58.98
1987          NaN
1989        58.41
1994        56.67
1995          NaN
1996          NaN
1999        49.51
2004        45.47
2007          NaN
2009        42.97
2013          NaN
2014        42.61
2019        50.66
Name: 28, dtype: object

In [26]:
#df_eu=df.astype(float)   ##versuch, die zahlen zu vereinheitlichen

In [27]:
df_eu.plot(kind='bar', figsize=(20,6), title="Wahlbeteiligung EU 1979 bis 2019")

TypeError: Empty 'DataFrame': no numeric data to plot