# Homework 3

**Inhalt:** Regular Expressions in Pandas anwenden

**Nötige Skills:** Regex in Python, Regex in Pandas

**Lernziele:**
- Ein praktisches Beispiel kennenlernen, wo Regex nützlich sein kann

# Das Beispiel

Eine Liste von US-Senatoren, die uns in einer etwas mühsamen Form zugestellt wurde.

Ziel ist, aus einem Wust von Zeichen eine saubere Tabelle zu generieren.

Die Liste ist gespeichert unter `dataprojects/Senatoren/Senator-List.xlsx`

## Vorbereitung

Nötige Libraries importieren: Pandas, re

In [5]:
import pandas as pd

In [6]:
import re

## Datei laden

Tipp: `header=None`

In [13]:
#path = ('dataprojects/Senatoren/Senator-List.xlsx', header=None)
df = pd.read_excel('dataprojects/Senatoren/Senator-List.xlsx', header=None)

Check, was steht drin?

In [15]:
#df = pd.read_excel(path)
df.head()

  Alexander, Lamar - (R - TN) Class II 455 Dirksen Senate Office Building Washington DC 20510(202) 224-4944 Contact: www.alexander.senate.gov/public/index.cfm?p=Email
0  Baldwin, Tammy - (D - WI) Class I 709 Hart Sen...
1  Barrasso, John - (R - WY) Class I 307 Dirksen ...
2  Bennet, Michael F. - (D - CO) Class III 261 Ru...
3  Blumenthal, Richard - (D - CT) Class III 706 H...
4  Blunt, Roy - (R - MO) Class III 260 Russell Se...

Geben Sie der Spalte einen neuen Namen: "Eintrag"

Zeigen Sie die ersten zwei Einträge in der Serie 'Eintrag' an

Welche Informationen sind in den Text-Strings enthalten? (Hinweis: Es sollten acht sein)

In [ ]:
# Antwort, in Worten:
# Name
# ...
#

## Regex-Ausdrücke entwickeln

Hier ist ein Regex-Ausdruck, der den Namen der Senatoren aus der Spalte "Eintrag" fischt:

In [ ]:
# Name:
df['Eintrag'].str.extract(r"^(.+),").head(5)

Entwickeln Sie weitere Regex-Ausdrücke für alle anderen Informationen, die in der Spalte enthalten sind!

## Neue Spalten bilden

Speichern Sie jede Information, für die Sie eine Regex entwickelt haben, in einer neuen Spalte ab.

Check, wie sieht es aus?

## Bonus: Alle Spalten auf einmal bilden

Laden Sie die Datei nochmals neu, so dass Sie nur eine Spalte namens "Eintrag" haben

Wir können mit mehreren Klammern auch mehrere Informationen aufs Mal extrahieren:

In [ ]:
# Name, Vorname
df['Eintrag'].str.extract(r"^(.+), (.+) - \(").head(5)

Bilden Sie eine Regex, die sämtliche acht Informationen aufs Mal extrahiert und diese in acht neuen Spalten speichert!

Check, wie sieht es aus?