Das ist ein einfacher Text.

# text1
## text2

dydydydydy

In [ ]:
print("Hello World")

In [ ]:
input("Wie alt bist Du?")

In [1]:
Alter = input("Wie alt bist Du?")

Wie alt bist Du?21

In [2]:
Alter

'21'

In [3]:
str(21)

'21'

In [4]:
int(Alter)

21

In [5]:
float(Alter)

21.0

In [6]:
type(Alter)

str

In [7]:
4**4

256

In [8]:
256//4

64

In [9]:
8%3

2

In [10]:
a=4

In [11]:
4==a

True

In [12]:
7==a

False

In [13]:
6<6

False

In [14]:
7<=7

True

In [26]:
type([2,"hallo",2,3,4,5,6.6,7])

list

In [78]:
a = [2,"hallo",2,3,4]

In [49]:
print (a)

[2, 'hallo', 2, 3, 4]

In [50]:
a[2:4]

[2, 3]

In [51]:
a[1::2]

['hallo', 3]

In [52]:
b=[a[0],a[4]]

In [55]:
#dadadadad
#fdfdfdfdf
a.append("adafshjj")

In [56]:
a

[2, 'hallo', 2, 3, 4, 'adafshjj']

In [57]:
a.pop()

'adafshjj'

In [63]:
a

[2, 'hallo', 2, 4]

In [66]:
a.pop()

2

In [68]:
print(list)

<class 'list'>

In [72]:
longlist=list(range(0,26))

In [73]:
longlist

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [75]:
len(longlist)

26

In [77]:
a.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [79]:
a.remove("hallo")

In [81]:
a

[2, 2, 3, 4]

In [85]:
a = [7,5,9]

In [86]:
a

[7, 5, 9]

In [87]:
a.sort()

In [88]:
a

[5, 7, 9]

In [93]:
sorted(a)

[5, 7, 9]

In [94]:
a

[5, 7, 9]

In [102]:
lst =list(range(100))

In [103]:
zahl = lst[0]

In [104]:
str(zahl)

'0'

In [105]:
newlst = []
for zahl in lst:
    newlst.append(str(zahl))

In [106]:
newlst

['0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '50',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '80',
 '81',
 '82',
 '83',
 '84',
 '85',
 '86',
 '87',
 '88',
 '89',
 '90',
 '91',
 '92',
 '93',
 '94',
 '95',
 '96',
 '97',
 '98',
 '99']

In [117]:
dic_list=[{'zurich':500000, 'basel':400000, 'genf':300000, 'bern':200000, 'winterthur':100000}]
print(dic_list)

[{'zurich': 500000, 'basel': 400000, 'genf': 300000, 'bern': 200000, 'winterthur': 100000}]

In [120]:
dic_list=[{"Stadt":"Zürich","Bevölkerungszahl":400000, "Kanton":"Zürich"},
         {"Stadt":"Genf", "Bevölkerungszahl":300000, "Kanton":"Genf"},
        {"Stadt": "Basel", "Bevölkerungszahl":200000, "Kanton":"Basel Stadt"},
        {"Stadt": "Bern", "Bevölkerungszahl":150000, "Kanton":"Bern"},
        {"Stadt": "Lausanne", "Bevölkerungszahl":140000, "Kanton": "Waadt"}]

In [122]:
dic_list[2]["Bevölkerungszahl"]

200000

In [128]:
total = 0
for city in dic_list:
    total += city['Bevölkerungszahl']
    print(total)
print(total)

400000
700000
900000
1050000
1190000
1190000